/**
 * objects/_grid.scss
 */

.grid {

  &.-container {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 26px;
    padding-right: 26px;
    position: relative;
  }

  &.-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
  }

  &.-col {
    position: relative;
    width: 100%;
    max-width: 100%;
    min-height: 1px;
    padding-right: 8px;
    padding-left: 8px;

    @for $i from 1 through 12 {
    
      &.-c#{$i} {
        @include make-col($i);
      }

      &.-offset#{$i} {
        @include make-col-offset($i);
      }
    }
  
    @media (min-width: 992px) { 
  
      @for $i from 1 through 12 {
      
        &.-c#{$i}-lg {
          @include make-col($i);
        }

        &.-offset#{$i}-lg {
          @include make-col-offset($i);
        }
      }
  
      &.-c-lg {
        width: auto;
        max-width: none;
      }
    }
  }

  &.-center {
    align-items: center;
    justify-content: center;
  }

  &.-column {
    flex-flow: column;
  }

  &.-row {
    flex-flow: row;
  }

  &.-wrap {
    flex-wrap: wrap;
  }

  &.-nowrap {
    flex-wrap: nowrap;
  }

  &.-align-center {
    align-items: center;
  }

  &.-justify-space-between {
    justify-content: space-between;
  }

  &.-justify-end {
    justify-content: flex-end;
  }

  &.-justify-center {
    justify-content: center;
  }
}