/**
 * generic/_fonts.scss
 */

/* 
 * Roboto: Regular 400 and Italic 400i / Bold 700 and Italic 700i
 */

@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto-Bold.woff2') format('woff2'),
      url('../../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto-BoldItalic.woff2') format('woff2'),
      url('../../fonts/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto-Italic.woff2') format('woff2'),
      url('../../fonts/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* 
 * Source Sans Pro: Regular 400 and Italic 400i / Bold 700 and Italic 700i
 */

 @font-face {
  font-family: 'Source Sans Pro';
  src: url('../../fonts/SourceSansPro-BoldItalic.woff2') format('woff2'),
      url('../../fonts/SourceSansPro-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../../fonts/SourceSansPro-Bold.woff2') format('woff2'),
      url('../../fonts/SourceSansPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../../fonts/SourceSansPro-Regular.woff2') format('woff2'),
      url('../../fonts/SourceSansPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../../fonts/SourceSansPro-Italic.woff2') format('woff2'),
      url('../../fonts/SourceSansPro-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}