/**
 * components/_header.scss
 */
 
.header {

  &.-wrap { 
    height: 60px;
    width: 100%;
    background: -webkit-linear-gradient(top, rgba(238,76,119,1) 0%,rgba(189,61,103,1) 100%);
    background: linear-gradient(to bottom, rgba(238,76,119,1) 0%,rgba(189,61,103,1) 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;

    @media (min-width: 992px) {
      height: 150px;
    }
  }

  &.-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    height: 100%;
  }

  &.-back {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    @media (min-width: 992px) {
      left: 26px;
    }
  }

  &.-title {
    height: 100%;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    align-items: center;

    @media (min-width: 992px) {
      padding-left: 140px;
    }
  }
}