/**
 * components/_typography.scss
 */

:root {
  font-size: 16px;

  @media (max-width: 339px) and (orientation: portrait) {
    font-size: 14px;
  }

  @media (max-height: 666px), (max-width: 340px) {
    font-size: 15px;
  }

  @media (min-width: 992px) {
    font-size: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.title, .text {
  letter-spacing: normal;
  font-style: normal;
  word-break: normal;
  font-stretch: normal;

  &.-upper {
    text-transform: uppercase;
  }

  &.-center {
    text-align: center;
  }
}

.title {
  font-weight: bold;

  &.-larger {
    font-size: 1.7rem;
    line-height: 2.2rem;
  }

  &.-median {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }

  &.-smaller {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  &.-category {
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: normal;
  }
}

.text {
  font-weight: normal;

  &.-larger {
    font-size: 1.2rem;
    line-height: 1.72rem;
    letter-spacing: .02em;
    font-family: var(--fontSecondary);

    @media (min-width: 992px) {
      font-size: 1.4rem;
      line-height: 1.9rem;
    }
  }

  &.-median {
    font-size: 1rem;
    line-height: 1.4rem;
  }

  &.-smaller {
    font-size: .8rem;
    line-height: 1.2rem;

    @media (min-width: 992px) {
      font-size: .7rem;
    }
  }

  &.-info {
    font-size: 1.3rem;
    line-height: 1.75rem;
  }
}